* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: white;
    --color: black;
    --pri-color: #86be54;
    --warn-color: red;
    --pri-light-color: #dfffc33b;
    --card-bg-color: #ffffff80;
    --border-color: #0000001f;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.error {
    > *:nth-child(1) {
        color: red !important;
        padding: 0 5px !important;
        background-color: #f8fbf6 !important;
    }
    > *:nth-child(2) {
        border: 1px solid red !important;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

@mixin s-btn-mixin {
    padding: 0.5em 1em;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    > .material-symbols-outlined {
        margin-right: 5px !important;
    }
}

.s-btn {
    @include s-btn-mixin();
    border: 1px solid var(--pri-color);
    background-color: transparent;
    color: var(--pri-color);
    &:hover,
    &:focus {
        color: var(--bg-color);
        border: 1px solid var(--pri-color);
        background-color: var(--pri-color);
    }
    &:active,
    &:focus {
        box-shadow: 0 0 4px 0 var(--pri-color);
    }
}

.s-btn-warn {
    @include s-btn-mixin();
    border: 1px solid var(--warn-color);
    background-color: transparent;
    color: var(--warn-color);
    &:hover,
    &:focus {
        color: var(--bg-color);
        border: 1px solid var(--warn-color);
        background-color: var(--warn-color);
    }
    &:active,
    &:focus {
        box-shadow: 0 0 4px 0 var(--warn-color);
    }
}

.s-btn-acent {
    @include s-btn-mixin();
    border: 1px solid var(--color);
    background-color: transparent;
    color: var(--color);
    &:hover,
    &:focus {
        color: var(--bg-color);
        border: 1px solid var(--color);
        background-color: var(--color);
    }
    &:active,
    &:focus {
        box-shadow: 0 0 4px 0 var(--color);
    }
}

div.s-control {
    position: relative;
    border: 1px solid #0000001f;
    width: 100%;
    height: 2.6em;
    padding: 0 1em;
    &:focus-within {
        box-shadow: 0 0 4px 0 var(--pri-color);
    }
    > label.s-fld-name {
        font-size: 0.7rem;
        position: absolute;
        top: -8px;
        background-color: var(--bg-color);
        padding: 0 2px;
        z-index: 2;
        user-select: none;
        text-transform: capitalize;
        font-family: inherit;
    }
    > *:nth-child(2) {
        padding: 15px 10px;
        border: transparent;
        outline: none;
        background-color: #f0f0f040;
        position: absolute;
        inset: 0;
        font-family: inherit;
    }
    &.textarea {
        height: 4em;
    }
}

div.choice {
    display: flex;
    align-items: center;
    background-color: #f0f0f040;
    > label.option {
        flex: 1;
        display: flex;
        align-items: center;
        background-color: transparent;
        padding: 0;
        position: static;
        cursor: pointer;
        width: fit-content;
        &:last-child {
            flex: 2;
        }
        > span.option-control {
            display: inline-block;
            height: 1em;
            width: 1em;
            border: 1px solid var(--color);
            border-radius: 50%;
            margin-right: 5px;
            position: relative;
            &::before,
            &::after {
                content: "";
                display: inline-block;
                height: 0.6em;
                width: 0.6em;
                background-color: var(--pri-color);
                position: absolute;
                transition: opacity 0.3s ease-in-out;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                opacity: 0;
            }

            &::after {
                transform: translate(-50%, -50%) scale(2.5);
            }
        }
        &.checked {
            > span.option-control {
                &::before {
                    opacity: 1;
                }
                &::after {
                    opacity: 0.2;
                }
            }
        }
    }
}

@mixin burger {
    height: 4px;
    width: 50px;
    background-color: var(--color);
}

a.menu {
    cursor: pointer;
    height: 32px;
    .hamburger {
        position: relative;
        transform: translateY(15px);
        width: 30px !important;
        margin-right: 50px !important;
        &,
        &::before,
        &::after {
            @include burger();
            display: block;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }
        &::before {
            top: -10px;
        }
        &::after {
            top: 10px;
        }
    }
}

.s-cont {
    width: 85%;
    margin: 1em auto;
}

@mixin s-shadow {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.s-card {
    background-color: var(--bg-color);
    min-height: 100px;
    min-width: 150px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    @include s-shadow();
    &:hover {
        box-shadow: 0 0 6px 0 var(--pri-color) !important;
    }
    > .s-card-heading {
        font-size: 1.2rem;
        text-transform: capitalize;
    }
}

table.s-tbl {
    border-collapse: collapse;
    @include s-shadow();
    td {
        border: 1px solid;
        padding: 0.25em 0.5em;
    }
    thead > tr,
    thead > tr > td {
        font-weight: 600;
        background-color: var(--bg-color);
    }
    tr:nth-child(even) {
        background-color: var(--bg-color);
    }
}

#scroller {
    position: fixed;
    bottom: 2em;
    right: 3em;
    padding: 0.5em;
    background-color: red;
    color: white;
    border-radius: 50%;
    height: calc(1.5rem + 1.5em);
    width: calc(1.5rem + 1.5em);
    cursor: pointer;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    user-select: none;
    pointer-events: none;
    outline: none;
    border: transparent;
    &.show {
        opacity: 1;
        pointer-events: all;
    }
}
