h1.page-heading {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1em;
}
form#lessonFrm {
    > section.lesson-sec {
        padding: 1em;
        background-color: white;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        > div.lesson-input {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
        }
        > div.add-topic {
            margin: 1em;
            position: relative;
            border: 1px solid #b3b3b3;
            padding: 1em;
            > h5.new-topic-heading {
                position: absolute;
                top: -0.65em;
                left: 1em;
                text-transform: capitalize;
                background-color: white;
                padding: 0 0.7em;
            }
            > div.new-topic {
                display: grid;
                max-width: 80%;
                grid-template-columns: 1fr 1fr;
                gap: 1em;
                margin: 0 auto 1em;
                > div.s-control:nth-of-type(1) {
                    > label.s-fld-name {
                    }
                    > input.s-control {
                    }
                }
                > div.s-control:nth-of-type(2) {
                    > label.s-fld-name {
                    }
                    > input.s-control {
                    }
                }
            }
            > div.new-topic-action {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1em;
                max-width: 80%;
                margin: 0 auto;
                > button.s-btn-acent {
                    > span.material-symbols-outlined {
                    }
                    > span:nth-of-type(2) {
                    }
                }
                > button.s-btn-warn {
                    > span.material-symbols-outlined {
                    }
                    > span:nth-of-type(2) {
                    }
                }
            }
        }
        > div.action {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2em;
            > button {
                margin: 0 1em;
            }
            > button.s-btn-acent {
                > span.material-symbols-outlined {
                }
                > span:nth-of-type(2) {
                }
            }
            > button.s-btn {
                > span.material-symbols-outlined {
                }
                > span:nth-of-type(2) {
                }
            }
            > button.s-btn-warn {
                > span.material-symbols-outlined {
                }
                > span:nth-of-type(2) {
                }
            }
        }
    }
    > section.topic-wrapper {
        margin: 1.5em auto;
        max-width: 75%;
        padding: 0 1em;
        border: 1px solid #d8d8d8;
        position: relative;
        border-radius: 4px;
        > h5 {
            position: absolute;
            top: -0.65em;
        }
        > div.topics {
            > div.topic {
                background-color: white;
                margin: 1em 0;
                padding: 1em;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                display: flex;
                justify-content: space-between;
                > div.topic-det {
                    max-width: calc(100% - 30px);
                    display: flex;
                    flex-direction: column;
                    > span.topic-lesson {
                        word-wrap: break-word;
                        font-weight: 600;
                    }
                    > span.topic-name {
                        word-wrap: break-word;
                        font-size: 0.8rem;
                    }
                }
                > span.material-symbols-outlined {
                    color: var(--warn-color);
                    cursor: pointer;
                }
            }
            > div.topic-empty {
                background-color: white;
                margin: 1em 0;
                padding: 1em;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
                border-radius: 4px;
            }
        }
    }
}
