@mixin fade-in-left {
    @keyframes fade-l {
        from {
            transform: translateX(-50px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    animation: fade-l 0.5s ease-in 0s 1 forwards;
}

@mixin fade-in-right {
    @keyframes fade-r {
        from {
            transform: translateX(50px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    animation: fade-r 0.5s ease-in 0s 1 forwards;
}
