main.contact-main > section.cont-wrapper {
  width: 80%;
  height: 100%;
  min-height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
  padding: 1em;
}
main.contact-main > section.cont-wrapper > div.branch-det {
  animation: fade-l 0.5s ease-in 0s 1 forwards;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.0705882353);
  background-color: var(--card-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes fade-l {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
main.contact-main > section.cont-wrapper > div.branch-det > ul.socials {
  list-style: none;
}
main.contact-main > section.cont-wrapper > div.branch-det > ul.socials > li {
  margin: 0.6em 0;
}
main.contact-main > section.cont-wrapper > div.branch-det > ul.socials > li > a > span.cont-text {
  margin-left: 10px;
}
main.contact-main > section.cont-wrapper > div.contact {
  animation: fade-r 0.5s ease-in 0s 1 forwards;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.0705882353);
  background-color: var(--card-bg-color);
  padding: 1em;
}
@keyframes fade-r {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > h1 {
  text-align: center;
  margin-bottom: 20px;
}
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > section.in-section {
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
  margin: 1em 0;
  border-radius: 4px;
  padding: 1em;
  position: relative;
}
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > section.in-section:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > section.in-section:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > section.in-section > h4.section-legend {
  position: absolute;
  top: -12px;
  background-color: var(--pri-light-color);
  padding: 0 1em;
  z-index: 2;
}
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > section.in-section > div.contact-control {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
  width: fit-content;
  margin: 1em 0;
}
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > section.in-section > div.contact-control:focus-within {
  box-shadow: 0 0 4px 0 var(--pri-color);
}
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > section.in-section > div.contact-control > label.contact-fld-name {
  font-size: 0.7rem;
  position: absolute;
  top: -8px;
  background-color: var(--pri-light-color);
  padding: 0 1em;
  z-index: 2;
  user-select: none;
}
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > section.in-section > div.contact-control > input,
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > section.in-section > div.contact-control select,
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > section.in-section > div.contact-control textarea {
  padding: 15px 10px;
  border: transparent;
  outline: none;
  background-color: rgba(240, 240, 240, 0.2509803922);
}
main.contact-main > section.cont-wrapper > div.contact > form.contact-frm > section.action {
  text-align: right;
}/*# sourceMappingURL=contact.css.map */