* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: white;
  --color: black;
  --pri-color: #86be54;
  --warn-color: red;
  --pri-light-color: #dfffc33b;
  --card-bg-color: #ffffff80;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.error > *:nth-child(1) {
  color: red !important;
  padding: 0 5px !important;
  background-color: #f8fbf6 !important;
}
.error > *:nth-child(2) {
  border: 1px solid red !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.s-btn {
  padding: 0.5em 1em;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--pri-color);
  background-color: transparent;
  color: var(--pri-color);
}
.s-btn > .material-symbols-outlined {
  margin-right: 5px !important;
}
.s-btn:hover, .s-btn:focus {
  color: var(--bg-color);
  border: 1px solid var(--pri-color);
  background-color: var(--pri-color);
}
.s-btn:active, .s-btn:focus {
  box-shadow: 0 0 4px 0 var(--pri-color);
}

.s-btn-warn {
  padding: 0.5em 1em;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--warn-color);
  background-color: transparent;
  color: var(--warn-color);
}
.s-btn-warn > .material-symbols-outlined {
  margin-right: 5px !important;
}
.s-btn-warn:hover, .s-btn-warn:focus {
  color: var(--bg-color);
  border: 1px solid var(--warn-color);
  background-color: var(--warn-color);
}
.s-btn-warn:active, .s-btn-warn:focus {
  box-shadow: 0 0 4px 0 var(--warn-color);
}

div.s-control {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
  width: fit-content;
  margin: 1em 0;
}
div.s-control:focus-within {
  box-shadow: 0 0 4px 0 var(--pri-color);
}
div.s-control > label.s-fld-name {
  font-size: 0.7rem;
  position: absolute;
  top: -8px;
  background-color: var(--pri-light-color);
  padding: 0 1em;
  z-index: 2;
  user-select: none;
}
div.s-control > *:nth-child(2) {
  padding: 15px 10px;
  border: transparent;
  outline: none;
  background-color: rgba(240, 240, 240, 0.2509803922);
}

a.menu {
  cursor: pointer;
  height: 32px;
}
a.menu .hamburger {
  position: relative;
  transform: translateY(15px);
  width: 30px !important;
  margin-right: 50px !important;
}
a.menu .hamburger, a.menu .hamburger::before, a.menu .hamburger::after {
  height: 4px;
  width: 50px;
  background-color: var(--color);
  display: block;
}
a.menu .hamburger::before, a.menu .hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}
a.menu .hamburger::before {
  top: -10px;
}
a.menu .hamburger::after {
  top: 10px;
}

.s-cont {
  width: 85%;
  margin: 1em auto;
}

.s-card {
  background-color: var(--bg-color);
  min-height: 100px;
  min-width: 150px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
.s-card:hover {
  box-shadow: 0 0 6px 0 var(--pri-color) !important;
}
.s-card > .s-card-heading {
  font-size: 1.2rem;
  text-transform: capitalize;
}/*# sourceMappingURL=controls.css.map */