@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,500;8..144,900&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: white;
  --color: black;
  --pri-color: #86be54;
  --warn-color: red;
  --pri-light-color: #dfffc33b;
  --card-bg-color: #ffffff80;
  --border-color: #0000001f;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.error > *:nth-child(1) {
  color: red !important;
  padding: 0 5px !important;
  background-color: #f8fbf6 !important;
}
.error > *:nth-child(2) {
  border: 1px solid red !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.s-btn {
  padding: 0.5em 1em;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--pri-color);
  background-color: transparent;
  color: var(--pri-color);
}
.s-btn > .material-symbols-outlined {
  margin-right: 5px !important;
}
.s-btn:hover, .s-btn:focus {
  color: var(--bg-color);
  border: 1px solid var(--pri-color);
  background-color: var(--pri-color);
}
.s-btn:active, .s-btn:focus {
  box-shadow: 0 0 4px 0 var(--pri-color);
}

.s-btn-warn {
  padding: 0.5em 1em;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--warn-color);
  background-color: transparent;
  color: var(--warn-color);
}
.s-btn-warn > .material-symbols-outlined {
  margin-right: 5px !important;
}
.s-btn-warn:hover, .s-btn-warn:focus {
  color: var(--bg-color);
  border: 1px solid var(--warn-color);
  background-color: var(--warn-color);
}
.s-btn-warn:active, .s-btn-warn:focus {
  box-shadow: 0 0 4px 0 var(--warn-color);
}

.s-btn-acent {
  padding: 0.5em 1em;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color);
  background-color: transparent;
  color: var(--color);
}
.s-btn-acent > .material-symbols-outlined {
  margin-right: 5px !important;
}
.s-btn-acent:hover, .s-btn-acent:focus {
  color: var(--bg-color);
  border: 1px solid var(--color);
  background-color: var(--color);
}
.s-btn-acent:active, .s-btn-acent:focus {
  box-shadow: 0 0 4px 0 var(--color);
}

div.s-control {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
  width: 100%;
  height: 2.6em;
  padding: 0 1em;
}
div.s-control:focus-within {
  box-shadow: 0 0 4px 0 var(--pri-color);
}
div.s-control > label.s-fld-name {
  font-size: 0.7rem;
  position: absolute;
  top: -8px;
  background-color: var(--bg-color);
  padding: 0 2px;
  z-index: 2;
  user-select: none;
  text-transform: capitalize;
  font-family: inherit;
}
div.s-control > *:nth-child(2) {
  padding: 15px 10px;
  border: transparent;
  outline: none;
  background-color: rgba(240, 240, 240, 0.2509803922);
  position: absolute;
  inset: 0;
  font-family: inherit;
}
div.s-control.textarea {
  height: 4em;
}

div.choice {
  display: flex;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.2509803922);
}
div.choice > label.option {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0;
  position: static;
  cursor: pointer;
  width: fit-content;
}
div.choice > label.option:last-child {
  flex: 2;
}
div.choice > label.option > span.option-control {
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid var(--color);
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
}
div.choice > label.option > span.option-control::before, div.choice > label.option > span.option-control::after {
  content: "";
  display: inline-block;
  height: 0.6em;
  width: 0.6em;
  background-color: var(--pri-color);
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
}
div.choice > label.option > span.option-control::after {
  transform: translate(-50%, -50%) scale(2.5);
}
div.choice > label.option.checked > span.option-control::before {
  opacity: 1;
}
div.choice > label.option.checked > span.option-control::after {
  opacity: 0.2;
}

a.menu {
  cursor: pointer;
  height: 32px;
}
a.menu .hamburger {
  position: relative;
  transform: translateY(15px);
  width: 30px !important;
  margin-right: 50px !important;
}
a.menu .hamburger, a.menu .hamburger::before, a.menu .hamburger::after {
  height: 4px;
  width: 50px;
  background-color: var(--color);
  display: block;
}
a.menu .hamburger::before, a.menu .hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}
a.menu .hamburger::before {
  top: -10px;
}
a.menu .hamburger::after {
  top: 10px;
}

.s-cont {
  width: 85%;
  margin: 1em auto;
}

.s-card {
  background-color: var(--bg-color);
  min-height: 100px;
  min-width: 150px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
.s-card:hover {
  box-shadow: 0 0 6px 0 var(--pri-color) !important;
}
.s-card > .s-card-heading {
  font-size: 1.2rem;
  text-transform: capitalize;
}

table.s-tbl {
  border-collapse: collapse;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
table.s-tbl td {
  border: 1px solid;
  padding: 0.25em 0.5em;
}
table.s-tbl thead > tr,
table.s-tbl thead > tr > td {
  font-weight: 600;
  background-color: var(--bg-color);
}
table.s-tbl tr:nth-child(even) {
  background-color: var(--bg-color);
}

#scroller {
  position: fixed;
  bottom: 2em;
  right: 3em;
  padding: 0.5em;
  background-color: red;
  color: white;
  border-radius: 50%;
  height: calc(1.5rem + 1.5em);
  width: calc(1.5rem + 1.5em);
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  user-select: none;
  pointer-events: none;
  outline: none;
  border: transparent;
}
#scroller.show {
  opacity: 1;
  pointer-events: all;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--pri-light-color);
  font-family: "Roboto Serif", serif;
}
body .emp-header {
  padding: 0 1.2em;
  height: 5em;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--pri-color);
}
body .emp-header > svg > text {
  transform: translate(0, 85px);
  font-size: 1.4em;
  font-family: "Russo One", sans-serif;
}
body > main {
  min-height: calc(100vh - 9em);
}
body > .emp-footer {
  min-height: 2em;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
body > nav {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: var(--bg-color);
  transition: opacity 0.5s;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
body > nav.active {
  pointer-events: all;
  opacity: 1;
}
body > nav > div.s-nav-bg-cont {
  background-color: var(--pri-light-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 3em 1em;
}
body > nav > div.s-nav-bg-cont > h2 {
  flex: 1;
}
body > nav > div.s-nav-bg-cont > ul {
  flex: 2;
  list-style: none;
}
body > nav > div.s-nav-bg-cont > ul > li {
  margin: 0.5em 0;
}
body > nav > div.s-nav-bg-cont > ul > li:hover {
  color: var(--pri-color);
}
body > nav > div.s-nav-bg-cont > ul > li > a {
  text-transform: capitalize;
}
body > nav > div.s-nav-bg-cont > button.user-logoff {
  height: 42px;
  width: 130px;
}/*# sourceMappingURL=employeeCommon.css.map */